@font-face {
	font-family: "Brandon_reg";
	src: url('../fonts/brandon/Brandon_reg.otf');
}
@font-face {
	font-family: "Brandon_thin";
	src: url('../fonts/brandon/Brandon_thin.otf');
}
@font-face {
	font-family: "Brandon_bld";
	src: url('../fonts/brandon/Brandon_bld.otf');
}
@font-face {
	font-family: "Brandon_reg_it";
	src: url('../fonts/brandon/Brandon_reg_it.otf');
}
body{
    font-family: "Brandon_bld";
}

header{
    border-bottom: 1px solid;
}

#game-canvas{
    margin: auto;
    position: relative;
    left: 20%;
}
p{
    clear: both;
}

table {
    width:40%;
    border-spacing: 10px;
    border: 1px solid black;
}

th, td {
    border-spacing: 10px;
}

#contact { 
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
	
}

label { 
	cursor:pointer;
	margin:4px 0;
	color: #f9A918;
	display:block;
	font-weight:800;
	
}

input { 
	display:block;
	width:40%;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background-color:#f4f4f4;
	color:#000;
	border:1px solid #5f5f5f;
	padding:10px;
	margin-bottom:25px;
}

textarea { 
	display:block;
	width:40%;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background-color:#f4f4f4;
	color:#000;
	border:1px solid #5f5f5f;
	padding:10px;
	margin-bottom:25px;
}
